
*.vsidx
*.lock
.vs/Arduino-Serial-Windows-C/v17/.suo
.vs/Arduino-Serial-Windows-C/v17/.wsuo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.testlog
*.manifest
*.json
*.sqlite
*.sln
*.vcxproj
*.filters
*.user
*.tlog
*.ilk
*.log
*.txt
*.obj
*.enc
*.idb
*.pdb
*.recipe
*.exe
